.textStyle {
    color: 255,0,0,255
    fontSize: 20
    margin: 10
}

.innerStyle {
    borderWidth: 5
    backgroundColor: GRAY
    borderColor: RED
}

#innerPanel {
    borderWidth: 5
    borderRadius: 0.2
    backgroundColor: GRAY
    borderColor: RED
    flexDirection: row
    justifyContent: spaceEvenly
    alignItems: center
    flex: true
}

#canvas {
    backgroundColor: WHITE
    flex: true
    justifyContent: spaceAround
}