.textStyle {
    color: 255,0,0,255
    fontSize: 20
    margin: 10
}

.sliderStyle {
    width: 300px;
    height: 20px;
    backgroundColor: GRAY
}

.panelStyle {
    borderWidth: 3
    borderRadius: 0.2
    backgroundColor: GRAY
    borderColor: RED
    flexDirection: row
    justifyContent: spaceEvenly
    alignItems: center
    flex: true
    width: 30%
    height: 100%
}

#canvas {
    backgroundColor: WHITE
    flex: true
    justifyContent: spaceEvenly
    alignItems: center
}